.Phonetic {
  margin-bottom: 30px;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 14px;
  margin-right: 15px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: purple;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
